[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
jupyter = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
setuptools = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.9"
